body {
  font: normal medium/1.4 sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.15rem;
  text-align: center;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(even) {
  background: rgba(88, 83, 83, 0.37);
}

button[name="submitBtn"]{
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 18px;
  bottom: 25%;
  background-color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navbar-text {
  display: inline-block;
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: 40%;
}

#navbar-image {
  display: flex;
  margin-left: 25%;
}

input::placeholder {
  font-size: .6em;
  font-style: italic;
}

th{
  color: aqua;
}

td{
  color: rgb(77, 71, 71);
}

div[name="app-container"] {
  position: absolute;
  width: 85%;
  height: 80%;
}

form{
  margin-bottom: 25px;
  padding: 2%;
  display: flex;
  
}

img[name="wheel"] {
  position: relative;
  bottom: 55%;
  right: auto;
  top: 50%;
  left: 30%;
  max-width: 100%;
  height: 300px;
  
}