body {
  font: normal medium/1.4 sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:nth-child(odd) {
  background: #eee;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#navbar-text {
  display: inline-block;
  font-size: 35px;
  text-align: center;
  margin-left: auto;
  margin-right: 40%;
}

#navbar-image {
  display: flex;
  margin-left: 25%;
}

input::placeholder {
  font-size: .6em;
  font-style: italic;
}

th{
  color: aqua;
}

td{
  color: white;
}

div[name="app-container"] {
  position: absolute;
  width: 85%;
  height: 80%;
}

label[name="amount"] {
  position: relative;
  margin-right: 100%;
}

label[name="description"] {
  position: relative;
  margin-right: 100%;

}

label[name="location"] {
  position: relative;
  margin-right: 100%;
}

label[name="currency"] {
  position: relative;
  margin-right: 100%;

}

form[name="calendar"] {
  position: relative;
  margin-right: 100%;
}

div[name="table"] {
  position: relative;
  top: 5%;
}

img[name="wheel"] {
  position: absolute;
  bottom: 50%;
  max-width: 100%;
  height: auto;
}